<form action="/Home/Editar">
    <fieldset>
        <legend>formulario Editar</legend>
        <p><label for="DNI">DNI: </label>
            <input type="text" name="DNI" id="DNI" placeholder="Cambia el DNI">
        </p>
        <p><label for="Nombre">Nombre: </label>
            <input type="text" name="Nombre" id="Nombre" placeholder="Cambia tu Nombre">
        </p>
         <p><label for="Apellidos">Apelllidos: </label>
            <input type="text" name="Apellidos" id="Apellidos" placeholder="Cambia tus Apellidos">
        </p>
        <p>
            <input type="submit" name="cambiar" />
        </p>
    </fieldset>
</form>