<form action="/Home/Insertar">
    <fieldset>
        <legend>formulario facturacion</legend>
        <p><label for="DNI">DNI: </label>
            <input type="text" name="DNI" id="DNI" placeholder="introduce un DNI">
        </p>
        <p><label for="Nombre">Nombre: </label>
            <input type="text" name="Nombre" id="Nombre" placeholder="introduce tu Nombre">
        </p>
         <p><label for="Apellidos">Apelllidos: </label>
            <input type="text" name="Apellidos" id="Apellidos" placeholder="introduce tus Apellidos">
        </p>
        <p>
            <input type="submit" name="enviar" />
        </p>
    </fieldset>
</form>