@{
    ViewData["Title"] = "Lista de Facturas - App SPA [Simple Page Application]";
}
<style>
    .marco_sombra {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        /*background-color: lightgray;*/
        padding: 10px;
    }
    label{
        width: 100px;
    }
</style>
<script>
    /* procedimientos javascript en su mayoría implementados con la librería JQuery  */
    $(document).ready(function () {

        $("#browse").fadeIn();
        $("#browse").addClass("marco_sombra");
        $("#areaCrear").addClass("marco_sombra");
        $("#areaActualizar").addClass("marco_sombra");
        $("#areaCrear").fadeOut();
        $("#areaActualizar").fadeOut();

        /* asignación evento click botón 'Crear' */
        $("#crear").click(function () {
            $("#browse").fadeOut();
            $("#areaCrear").fadeIn();
        });

        /* recibir inicialmente todos los registros... */
        buscarTodos();

        /* filtro por comienzo de 'Concepto' ... C R^2 UD */
        $("#concepto").keyup(function () {
            $.getJSON("/api/facturas/" + $("#concepto").val(), function (datos) {
                $("#mitabla2").empty();
                for (var i = 0; i < datos.length; i++) {
                    $("#mitabla2").append("<tr><td>" + datos[i].numero + "</td><td>" + datos[i].concepto + "</td><td>" + datos[i].importe + "</td></tr>");
                }
            })
        })

        /* botón cancelar del área 'Crear' */
        $("#cancelar").click(function () {
            $("#browse").fadeIn();
            $("#areaCrear").fadeOut();
            limpiarCampos();
        })

        /* botón cancelar del área 'Actualizar' */
        $("#cancelar2").click(function () {
            $("#browse").fadeIn();
            $("#areaActualizar").fadeOut();
            limpiarCampos();
        })

        /* botón guardar del área 'Crear' */

        $("#guardar").click(function () {
            var factura = {};
            factura.numero = $("#numero").val();
            factura.concepto = $("#conceptof").val();
            factura.importe = $("#importe").val();
            $.ajax({
                url: "/api/facturas",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#browse").fadeIn();
                    $("#areaCrear").fadeOut();
                    $("#mitabla").empty();
                    buscarTodos();
                    limpiarCampos();
                }
            })
        });

        /* botón guardar del área 'Actualizar' */
        $("#guardar2").click(function () {
            var nu = $("#numero2h").val();
            var factura = {};
            factura.numero = $("#numero2").val();
            factura.concepto = $("#conceptof2").val();
            factura.importe = $("#importe2").val();
            console.dir(factura);
            console.log(nu);
            $.ajax({
                url: "/api/facturas/" + nu,
                type: "PUT",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#browse").fadeIn();
                    $("#areaActualizar").fadeOut();
                    $("#mitabla").empty();
                    buscarTodos();
                    limpiarCampos();
                }
            })
        });

        /* asignación asincrónica a los elementos con la clase borrar de la función que invoca el método borrar*/
        $(document).on('click', '.borrar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            borrar(n);
        });

        /* asignación asincrónica a los elementos con la clase editar de la funcion que invoca el método 'Actualizar'   */
        $(document).on('click', '.editar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            editar(n);
        });

    });

    /* Método leer (todos!) C R UD */
    function buscarTodos() {
        $.getJSON("/api/facturas", function (datos) {
            for (var i = 0; i < datos.length; i++) {
                $("#mitabla").append(`<tr>
                                        <td>${datos[i].numero}</td>
                                        <td>${datos[i].concepto}</td>
                                        <td>${datos[i].importe}</td>
                                        <td><input type="button" class="editar" value="editar" title="éste botón se programa de forma no invasiva con código javascript al haber cargado el documento" id="${datos[i].numero} e"></td>
                                        <td><input type="button" class="borrar" value="borrar" title="éste botón se programa de forma no invasiva con código javascript al haber cargado el documento" id="${datos[i].numero} b"></td>
                                        <td><a href="" title="este enlace invoca una función de forma directa, retorna falso para anular la acción href" onclick="borrar(${datos[i].numero}); return false;">borrar api</a></td>
                                        <td><a href="" title="este enlace invoca una función de forma directa, retorna falso para anular la acción href"  onclick="editar(${datos[i].numero}); return false;">editar api</a></td>
                                     </tr>`);

            }
        });

    }

    function editar(n) {
        $.getJSON("/api/facturas/" + n, function (dato) {
            $("#numero2h").val(dato.numero);
            $("#numero2").val(dato.numero);
            $("#conceptof2").val(dato.concepto);
            $("#importe2").val(dato.importe);
            $("#browse").fadeOut();
            $("#areaActualizar").fadeIn();
        });
    }

    /* Método borrar CRU D */
    function borrar(n) {
        if (!confirm("Seguro que desea borrar el registro con Id: " + n)) {
            return;
        }
        $.ajax({
            url: "/api/facturas/" + n,
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {
                $("#mitabla").empty();
                buscarTodos();
            }
        });
    }

    function limpiarCampos() {
        $("#numero").val("");
        $("#conceptof").val("");
        $("#importe").val("");
        $("#numero2").val("");
        $("#conceptof2").val("");
        $("#importe2").val("");
    }
</script>


<div id="browse">
    <h5>Facturas (array en memoria) cumple CRUD en SPA Nota: falta <span style="color: red; text-weight: 800;">"paginar"</span> resultados</h5>
    <table id="mitabla">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Editar</th>
                <th>Borrar</th>
                <th>Editar API</th>
                <th>Borrar API</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <hr>
    <input type="button" value="crear" id="crear">
    <hr>
    <h5>La tabla filtrada viene AJAX JSON</h5>
    <label for="filtrar">filtrar concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" name="concepto"
        id="concepto">

    <table id="mitabla2">
    </table>
    <hr>
</div>

<!-- área de 'creación' de nuevos registros // también actúa como detalle [por defecto oculta] -->
<div id="areaCrear">
    <h5>Formulario Crear Factura C RUD</h5>
    <form>
        <p>
            <label for="Numero">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="numero" name="numero" placeholder="aquí el número">
        </p>
        <p>
            <label for="conceptof">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof" name="conceptof" size="100" placeholder="aquí el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe" name="importe" placeholder="aquí el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar">
            <input type="button" value="cancelar" id="cancelar">
        </p>
    </form>
</div>

<!-- área de 'actualizar' de registro [por defecto oculta] -->
<div id="areaActualizar">
    <h5>Formulario Edición Factura CR U D</h5>
    <form>
        <p>
            <label for="numero2">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="numero2h" id="numero2h" hidden>
            <input type="text" id="numero2" name="numero2" placeholder="no vacíe este campo">
        </p>
        <p>
            <label for="concepto2">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof2" name="conceptof2" size="100" placeholder="no vacíe el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe2" name="importe2" placeholder="no vacíe el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar2">
            <input type="button" value="cancelar" id="cancelar2">
        </p>
    </form>
</div>