@{
    ViewData["Title"] = "Lista de Facturas";
}

<script>
    $(document).ready(function () {
        $("#boton").click(function () {
            $.getJSON("/home/ListaFacturasJSON",function(datos){
                for (var i=0;i<datos.length; i++){
                    $("#mitabla").append("<tr><td>"+datos[i].numero+"</td><td>"+datos[i].concepto+"</td><td>"+datos[i].importe+"</td></tr>");
                }
                console.table(datos);
            })
        })
        $("#concepto").keyup(function () {
            $.getJSON("/home/ListaFacturasJSON?concepto="+$("#concepto").val(),function(datos){
                $("#mitabla2").empty();
                for (var i=0;i<datos.length; i++){
                    $("#mitabla2").append("<tr><td>"+datos[i].numero+"</td><td>"+datos[i].concepto+"</td><td>"+datos[i].importe+"</td></tr>");
                }
                //console.table(datos);
            })
        })
    })
</script>
<h5>La primera tabla viene con la carga de la página en ViewBag, y el filtro es una petición AJAX JSON</h5>
<table id="mitabla">
    <thead>
    <tr>
        <th>Numero</th>
        <th>Concepto</th>
        <th>Importe</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listafacturas)
        {
            <tr>
                <td>@item.Numero</td>
                <td>@item.Concepto</td>
                <td>@item.Importe</td>
            </tr>
            
        }
    </tbody>

</table>
<hr>
<label for="filtrar">filtrar concepto: </label><input type="text" name="concepto" id="concepto">
<table id="mitabla2">
</table>
<!--<br>
<input type="button" value="agregar a la primera tabla" id="boton" name="boton">
-->

