@{
    ViewData["Title"] = "Lista de Facturas - App SPA [Simple Page Application]";
}
<script>
    $(document).ready(function () {

        $("#listado").fadeIn();
        $("#formulario").fadeOut();
        $("#formulario2").fadeOut();

        $("#insertar").click(function () {
            $("#listado").fadeOut();
            $("#formulario").fadeIn();
        });

        buscarTodos();

        // PENDIENTE DE PASAR A LA API REST
        $("#concepto").keyup(function () {
            $.getJSON("/home/ListaFacturasJSON?concepto=" + $("#concepto").val(), function (datos) {
                $("#mitabla2").empty();
                for (var i = 0; i < datos.length; i++) {
                    $("#mitabla2").append("<tr><td>" + datos[i].numero + "</td><td>" + datos[i].concepto + "</td><td>" + datos[i].importe + "</td></tr>");
                }
            })
        })

        // FALTA LIMPIAR LOS CAMPOS
        $("#cancelar").click(function () {
            $("#listado").fadeIn();
            $("#formulario").fadeOut();
        })

        // FALTA VACIAR LOS CAMPOS
        $("#cancelar2").click(function () {
            $("#listado").fadeIn();
            $("#formulario2").fadeOut();
        })

        $("#guardar").click(function () {
            var factura = {};
            factura.numero = $("#numero").val();
            factura.concepto = $("#conceptof").val();
            factura.importe = $("#importe").val();
            $.ajax({
                url: "/api/facturas",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#listado").fadeIn();
                    $("#formulario").fadeOut();
                    $("#mitabla").empty();
                    buscarTodos();
                }
            })
        });

        // FALTA CREAR EN FacturasController el método para recibir la factura con los cambios e implementar los mismos en el item afectado!
        $("#guardar2").click(function () {
            var factura = {};
            factura.numero = $("#numero2").val();
            factura.concepto = $("#conceptof2").val();
            factura.importe = $("#importe2").val();
            $.ajax({
                url: "/api/facturas/",
                type: "PUT",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#listado").fadeIn();
                    $("#formulario2").fadeOut();
                    $("#mitabla").empty();
                    buscarTodos();
                }
            })
        });

        $(document).on('click', '.borrar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            borrar(n);
            /*
            var factura = {};
            factura.numero = n;
            $.ajax({
                url: "/home/borrarJSON",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#mitabla").empty();
                    buscarTodos();
                }
            });
            */
        });

        $(document).on('click', '.editar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            editar(n);
        });
    });

    function editar(n) {
        $.ajax({
            url: "/api/facturas/" + n,
            type: "GET",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {
                if (response.numero == 0) {
                    alert(response + " " + n);
                }
                $("#numero2").val(response.numero);
                $("#conceptof2").val(response.concepto);
                $("#importe2").val(response.importe);
                $("#listado").fadeOut();
                $("#formulario2").fadeIn();
            }
        });
    }

    function borrar(n) {
        if (!confirm("Seguro que desea borrar el registro con Id: " + n)) {
            return;
        }
        $.ajax({
            url: "/api/facturas/" + n,
            type: "DELETE",
            contentType: "application/json; charset=utf-8",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {
                $("#mitabla").empty();
                buscarTodos();
            }
        });
    }


    function buscarTodos() {
        $.getJSON("/api/facturas", function (datos) {
            for (var i = 0; i < datos.length; i++) {
                $("#mitabla").append(`<tr>
                                        <td>${datos[i].numero}</td>
                                        <td>${datos[i].concepto}</td>
                                        <td>${datos[i].importe}</td>
                                        <td><input type="button" class="editar" value="editar" id="${datos[i].numero} e"></td>
                                        <td><input type="button" class="borrar" value="borrar" id="${datos[i].numero} b"></td>
                                        <td><a href="" onclick="borrar(${datos[i].numero}); return false;">borrar api</a></td>
                                        <td><a href="" onclick="editar(${datos[i].numero}); return false;">editar api</a></td>
                                     </tr>`);

            }
        });
    }    
</script>

<div id="listado">
    <h5>La tabla viene en Ajax JSON</h5>

    <table id="mitabla">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Editar</th>
                <th>Borrar</th>
                <th>Editar API</th>
                <th>Borrar API</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <hr>
    <input type="button" value="insertar" id="insertar">
    <hr>
    <h5>La tabla filtrada viene AJAX JSON</h5>
    <label for="filtrar">filtrar concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" name="concepto"
        id="concepto">

    <table id="mitabla2">
    </table>
    <hr>
</div>

<div id="formulario">
    <h5>Formulario Factura</h5>
    <form>
        <p>
            <label for="Numero">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="numero" name="numero" placeholder="aquí el número">
        </p>
        <p>
            <label for="conceptof">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof" name="conceptof" placeholder="aquí el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe" name="importe" placeholder="aquí el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar">
            <input type="button" value="cancelar" id="cancelar">
        </p>
    </form>
</div>

<div id="formulario2">
    <h5>Formulario Edición Factura</h5>
    <form>
        <p>
            <label for="numero2">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="numero2" name="numero2" placeholder="aquí el número">
        </p>
        <p>
            <label for="concepto2">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof2" name="conceptof2" placeholder="aquí el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe2" name="importe2" placeholder="aquí el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar2">
            <input type="button" value="cancelar" id="cancelar2">
        </p>
    </form>
</div>