@{
    ViewData["Title"] = "Lista de Facturas";
}

<script>
    $(document).ready(function () {

        $("#listado").fadeIn();
        $("#formulario").fadeOut();
        $("#formulario2").fadeOut();

        $("#insertar").click(function () {
            $("#listado").fadeOut();
            $("#formulario").fadeIn();
        })

        buscarTodos();

        $("#concepto").keyup(function () {
            $.getJSON("/home/ListaFacturasJSON?concepto=" + $("#concepto").val(), function (datos) {
                $("#mitabla2").empty();
                for (var i = 0; i < datos.length; i++) {
                    $("#mitabla2").append("<tr><td>" + datos[i].numero + "</td><td>" + datos[i].concepto + "</td><td>" + datos[i].importe + "</td></tr>");
                }
            })
        })

        $("#cancelar").click(function () {
            $("#listado").fadeIn();
            $("#formulario").fadeOut();
        })

        $("#guardar").click(function () {
            var factura = {};
            factura.numero = $("#numero").val();
            factura.concepto = $("#conceptof").val();
            factura.importe = $("#importe").val();
            $.ajax({
                url: "/home/insertarjson",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#listado").fadeIn();
                    $("#formulario").fadeOut();
                    $("#mitabla").empty();
                    buscarTodos();
                }
            })
        })

        $(document).on('click', '.borrar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            var factura = {};
            factura.numero = n;
            $.ajax({
                url: "/home/borrarJSON",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#mitabla").empty();
                    buscarTodos();
                }
            })
        })

        $(document).on('click', '.editar', function () {
            $b = $(this);
            var n = parseInt($b.attr("id"));
            factura = {};
            factura.numero = n;
            /*
            $.getJSON("/home/cargarRegistroJSON", function (dato) {
                if (dato.numero == 0) {
                    console.dir(dato);
                } else {
                    $("#numero2").val(dato.numero);
                    $("#conceptof2").val(dato.concepto);
                    $("#importe2").val(dato.importe);
                    $("#listado").fadeOut();
                    $("#formulario2").fadeIn();
                }
            })
            */
            $.ajax({
                url: "/home/cargarRegistroJSON",
                type: "POST",
                data: JSON.stringify(factura),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    //alert(response.responseText);
                },
                success: function (response) {
                    if (response.numero == 0){
                        console.dir(response);
                    }
                    $("#numero2").val(response.numero);
                    $("#conceptof2").val(response.concepto);
                    $("#importe2").val(response.importe);
                    $("#listado").fadeOut();
                    $("#formulario2").fadeIn();
                }
            })
        })
    })

    function buscarTodos() {
        $.getJSON("/home/ListaFacturasJSON", function (datos) {
            for (var i = 0; i < datos.length; i++) {
                $("#mitabla").append(`<tr>
                                        <td>${datos[i].numero}</td>
                                        <td>${datos[i].concepto}</td>
                                        <td>${datos[i].importe}</td>
                                        <td><input type="button" class="editar" value="editar" id="${datos[i].numero} e"></td>
                                        <td><input type="button" class="borrar" value="borrar" id="${datos[i].numero} b"></td>
                                     </tr>`);

            }
        })
    }





</script>

<div id="listado">
    <h5>La tabla viene en Ajax JSON</h5>

    <table id="mitabla">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Concepto</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <hr>
    <input type="button" value="insertar" id="insertar">
    <hr>
    <h5>La tabla filtrada viene AJAX JSON</h5>
    <label for="filtrar">filtrar concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" name="concepto"
        id="concepto">

    <table id="mitabla2">
    </table>
    <hr>
</div>

<div id="formulario">
    <h5>Formulario Factura</h5>
    <form>
        <p>
            <label for="Numero">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="numero" name="numero" placeholder="aquí el número">
        </p>
        <p>
            <label for="conceptof">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof" name="conceptof" placeholder="aquí el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe" name="importe" placeholder="aquí el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar">
            <input type="button" value="cancelar" id="cancelar">
        </p>
    </form>
</div>

<div id="formulario2">
    <h5>Formulario Edición Factura</h5>
    <form>
        <p>
            <label for="numero2">Número: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="numero2" name="numero2" placeholder="aquí el número">
        </p>
        <p>
            <label for="concepto2">Concepto: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="conceptof2" name="conceptof2" placeholder="aquí el concepto">
        </p>
        <p>
            <label for="importe">Importe: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" id="importe2" name="importe2" placeholder="aquí el importe">
        </p>
        <p>
            <input type="button" value="guardar" id="guardar2">
            <input type="button" value="cancelar" id="cancelar2">
        </p>
    </form>
</div>