@{
    ViewData["Title"] = "Lista de Clientes";
    List<Cliente> lista = new List<Cliente>();
    lista = ViewBag.lista;
    string msg = "" + ViewBag.n;
}
<script>
    $(document).ready(function () {
        $.getJSON("/cliente/ListaClientesJSON", function (datos) {
            for (var i = 0; i < datos.length; i++) {
                $("#mitabla").append(`<tr>
                                        <td>${datos[i].id}</td>
                                        <td>${datos[i].dni}</td>
                                        <td>${datos[i].nombre}</td>
                                        <td>${datos[i].apellidos}</td>
                                        <td><input type="button" class="editar" id="${datos[i].id} e" value="editar" /></td>
                                        <td><input type="button" class="borrar" id="${datos[i].id} b" value="borrar"></td>
                                      </tr>`);
            }
            console.table(datos);
            implementarEventos();
        })
        function implementarEventos() {
            $(".borrar").click(function () {
                $b = $(this);
                var n = parseInt($b.attr("id"));
                //n = n.substr(0, n.length - 3);
                $(location).attr("href", "/cliente/remover/" + n);
            })
            $(".editar").click(function () {
                $b = $(this);
                var n = parseInt($b.attr("id"));
                //n = n.substr(0, n.length - 3);
                $(location).attr("href", "/cliente/formclientee/" + n);
            })
        }
    })
</script>
<h5>Clientes (contra base de datos)</h5>
<table id="mitabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>
<hr>
<ul>
    <li><a href="/Cliente/formCliente">agregar cliente</a></li>
</ul>
<hr>
<p>@msg</p>